<div class="main post-event-hero <% if @post %>single-post-hero<% end %>">
    <div class="container">
	<div class="row">

	    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		<div class="page-heading">
		    <!-- <div class="row">
			 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> -->
		    <%= render :partial => '/layouts/breadcrumbs' %>
		    <!-- </div>
			 </div> -->
		    <h1><%= @post.name %></h1>

		    <%= render :partial => '/layouts/share' %>


		</div>
	    </div>
	    <%= render :partial => '/blog_posts/hero' %>
	    <div class="row">
		<%= render :partial => '/blog_posts/meta', locals: { :resource => @post } %>
		<%= render :partial => '/blog_posts/topics', locals: { :resource => @post } %>
	    </div>
	    
	    <% unless @post.listed_tracks.empty? %>
		<%= render :partial => '/blog_posts/tracks', locals: {:source => @post }%>
	    <% end %>
	</div>
	




	<div class="page-content post-event-content">
	    <div class="container">
		<div class='row'>
		    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<div class="content">
			    <% if @post.hero_image_url %>
				<p><%= @post.snippet %></p>
			    <% end %>
			    <%= @post.main.try(:html_safe) %>
			    
			</div><!-- /.blog-post-footer -->
		    </div>

		    <div class="blog-post-footer">
			<div class="container">
			    <div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				    <%= render :partial => 'comment' %>
				    <% unless @related_posts.empty? %>

					<div class="row">
					    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h1>More on <%= @post.topics.map(&:name).to_sentence %></h1>
					    </div>
					</div>

					<% @related_posts.each do |post| %>
					    <%= render 'post', :post => post %>
					<% end %>
				    <% end %>
				</div>

			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
